{% extends "homepage/base.html" %}

{% block content %}

            <!-- Hidden Sidepanel -->
			<div id="myNavPanel" class="sidepanel">
				<a href="home" onclick="toggleNav(this)">Home</a>
				<a href="contact" onclick="toggleNav(this)">Also Home</a>
				<a href="home" onclick="toggleNav(this)">Mystery Destination</a>
			</div>

			<!-- Header -->
            <header id="header">
				<h1>Project 3</h1>
            </header>

			<!-- Main -->
			<section id="main">
				<hr>
				<h2> Section 1 </h2>
				<hr>
				<h2> Section 2 </h2>
				<hr>
				<h2> Section 3 </h2>
			</section>
{% endblock content %}